/*Default Page Style & Add-ons*/

body {
    background-color: rgb(255, 255, 255);
    color: #894728;
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0px; /*Removes margins by default - useful for nav and banner*/
    /*Stickyfooter - flex method (keeps footer stuck to bottom of the page: https://www.youtube.com/watch?v=ffb34dCmMVQ)*/
    min-height: 100vh; /*Code learnt for my tutorial submissions*/
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1; /*Growth to fill space of body column flex - Ensures the footer is PUSHED*/
}

h1 {
    margin: 0;
    font-size: xxx-large;
}

/*Right and left margins/padding changed only (readidy applied to body sections)*/
.side-margins {
    margin-left: 15%;
    margin-right: 15%;
}
.side-padding {
    padding-left: 15%;
    padding-right: 15%;
}

/*Product Grids/Lists:*/

/*Form Pages e.g. Contact*/
.half-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /*Ensures both grid columns are the same width - learnt at: https://gomakethings.com/an-introduction-to-css-grid/*/
    img {
        width: 100%;
        height: 100%;
        object-fit: cover; /*Fit the image to the donation page grid*/
        border-radius: 25px;
    }
    padding-top: 50px;
    gap: 20px;
}
.forms-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-container {
    background-color: #ffda90;
    padding: 20px;
    border-radius: 25px;
}
.form-heading {
    margin-top: 10px;
    font-weight: bold;
}

/*Product Page*/
.product-grid { /*Grid rather than flex so that card widths are adaptive - setup learnt from https://www.w3schools.com/css/css_grid.asp*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /*Ensures all grid columns are the same width (even rows with less than 4 items) - learnt at: https://gomakethings.com/an-introduction-to-css-grid/*/
    gap: 20px;
}
.product-card {
    display: flex;
    flex-direction: column;
    max-width: 20vi;
    position: relative; /*Allows content to be placed on top (absolute). See https://www.youtube.com/watch?v=nzxtEotE0YM*/
    background-color: #ffda90;
    border-radius: 25px;
    padding: 20px;
    h3, p {
        margin-bottom: 0px;
    }
    .button {
        align-self: center;
    }
    img {
        background-color: white;
    }
}
.product-card:hover {
    .hover-img {
        display: block; /*Reveal the hover-only view*/
        background-color: white;
    }
}
.product-img {
    width: 100%;
    aspect-ratio: 1/1; /*Ensures that the product images are pure squares*/
    border-radius: 20px;
    object-fit: cover; /*Fit the image to the square ratio. https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Box_sizing/Aspect_ratios*/
}
.hover-img {
    width: calc(100% - 40px); /*Overwrite width to account for the padding which is not inherited */
    display: none; /*Hide the image by default*/
    position: absolute;
    top: 20px;
    left: 20px;
    overflow: hidden;
}
.side-by-side-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline; /*so that the price (larger) stands on the same level vertically*/
    .price {
        font-size: larger;
    }
    margin-top: auto; /*Since the card is a flex box, column style, an automatic top margin will push the designer, price and button to the bottom*/
}

/*Cart Page - within cart-tab is inspired by Lun Dev Code's tutorial @ https://www.youtube.com/watch?v=gXWohFYrI0M&t=1611s*/
.cart-list {
    display: flex;
    flex-direction: column;
}
.cart-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
}
.item-img img {
    max-width: 50%;
    height: auto;
    display: block;
    padding: 20px;
    border-radius: 20%;
}
.item-quantity span{ /*Styling the quantity buttons*/
    background-color: #ffcd98;
    width: 25px;
    height: 25px;
    display: inline-block; /*Inline to void stacking on-top of one another*/
    border-radius: 50%;
    cursor: pointer;
    align-content: center;
}
.cart-item:nth-child(even){
    background-color: rgb(234, 192, 115);
}

/*Elements*/

header {
    display: flex;
    flex-direction: row;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;  
}

nav {
    align-self: center; /*Align the navigation items in the center of the header vertically*/
    flex-grow: 1;
}

ul {
    margin: 0px; /*List had own top margin which added blank space above navbar (untouched by body tag's undo margins)*/
    display: flex;
    flex-direction: row; /*The nav items are spread horizontally*/
    justify-content: right; /*keep left for the logo and navigation to the right*/
    gap: 50px;
    list-style-type: none; /*Removes list bullets*/    
}

a { /*Navigation Links*/
    display: block;
    font-weight: bold;
    font-size: larger;
    color: #894728;
    text-decoration: none;
    text-decoration: none; /*Remove default link styling*/
    align-items: center; /*Center the text vertically*/
    justify-content: center; /*Center the message horizontally as a standout piece of information*/
    font-weight: bold;
}

.logo {
    height: 100%; /*Logo fits the header, but not flush with borders*/
    width: auto;
    align-self: center; /*Align the logo in the center of the header vertically*/
}

/*Cart navigation item inspired by https://www.youtube.com/watch?v=gXWohFYrI0M*/
.cart-nav { 
    position: relative; /*Sets the cart icon container as relative so a badge may hover over it*/
}
.fa-cart-shopping { /*The icon's class*/
    color: inherit; /*Depends on the contained: e.g. diff in nav and button*/
}
.cart-badge { /*The cart icon's notification badge*/
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #E15E5E;
    color: white;
    position: absolute;
    bottom: -2px; /*Position the item count badge on the corner of the shopping cart*/
    right: -8px;
    font-size: small;
}

/*W3Schools Drop down (navbar) tutorial adapted*/
.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: #894728;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.button, .checkout, .submit{ /*For links of class button to make them appear like buttons aethetically*/
    display: block; /*Learnt that <a> is in-line by default and therefore does not regognise margins, therefore set display to block https://forum.freecodecamp.org/t/why-margin-doesnt-work/346366*/
    margin-top: 20px;
    padding: 10px;
    border-radius: 25px;
    max-width: fit-content;
}

/*Page Sections*/

.announcement {
    height: 50px;
    display: flex;
    font-weight: bold;
}

.banner {
    position: relative;
    color: white;
}
.banner-img {
    display: block; /*Image of banner applied spall space beneath it. Block*/
    width: 100%; /*Banner image specifically spans the entire width of the page*/
}
.top-left
{
    position: absolute;
    max-width: 50%;
    top: 50px; /*Position the text at the top left of the image container*/
    left: 0px;
    padding: inherit;
    h1, p {
        text-shadow: 2px 2px 4px rgb(87, 117, 182);
    }
}

.metrics-section {
    background-color: #ffda90;
    color: #dd5555;
    min-height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    article {
        max-width: 20%;
    }
    p {
        margin: 0px;
    }
}
.metric {
    font-size: xxx-large;
    font-weight: bolder;
}

.about-section {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.about-img {
    width: 20%;
    object-fit: cover; /*Height: auto had the tendancy to squish the ratio, so Iimplemented object-fit: cover to ensure the ratio remained at the expense of some width/height. https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Box_sizing/Aspect_ratios*/
    border-radius: 25px;        
}

.page-header
{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ffda90; 
    height: fit-content;
    justify-items: center;
    align-content: center;
    text-align: center;
    .page-title {
        font-size: xxx-large;
        font-weight: bold;
    }
}
.monthly-banner {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #dd5555; 
    color: white;
    height: fit-content;
    justify-items: center;
    align-content: center;
    text-align: center;
    h1 {
        font-size: xx-large;
        font-weight: bold;
    }
}

.design-container{
    width: 100%; /*Fills half of the page - margins*/
    aspect-ratio: 1/1; /*Ensures that the product images are pure squares*/
    background-color: white;
    position: relative;
}
#design-template { /*Fills the container*/
    width: 100%;
    border: 1px solid black;
    background-size: cover;
}
#design-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%); /*The transform method - found at: https://stackoverflow.com/questions/26318059/image-with-positionabsolute-not-centering-inside-parent-div-with-positionrelat by scooterlord*/
    width: 40%;
    height: 40%;
    background-size: contain; /*No parts of the image (if not a square) are left out*/
    background-repeat: no-repeat; /*Sometimes contain may repeat the image. I am avoiding this!*/
    background-position: center; /*The no-repeat image may stand to the side now that not balanced by duplicates, so I centered it.*/
}

footer {
    margin-top: 50px;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #dd5555;
    color: white;
}

/*Other Colouring (Accents & Hover)*/
.box-highlight, .button, .add-to-cart, .checkout, .submit {
    background-color: #E15E5E; 
    color: #ffda90; 
}
.box-highlight:hover {
    background-color: #ffda90;
    color: #E15E5E;
}
.nav-highlight:hover {
    color: #E15E5E;
}